<br />
<div class="container">

    <!--mensaje por si no hay empleados registrados-->
    <p *ngIf="Animes.length <= 0" class="text-center">No hay animes registrados</p>
    
    <table class="table table-bordered " *ngIf="Animes.length > 0">
        <thead class=" table-danger">
            <tr>
                <th scope="col">ID Anime</th>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Temporada</th>
                <th scope="col">Autor</th>
                <th scope="col">Sipnosis</th>
                <th scope="col">Imagen</th>
                <th scope="col center">Editar</th>
                <th scope="col center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let anime of Animes; let i=index">
                <td>{{ anime._id }}</td>
                <td>{{ anime.nombre }}</td>
                <td>{{ anime.genero }}</td>
                <td>{{ anime.temporada }}</td>
                <td>{{ anime.autor }}</td>
                <td>{{ anime.sipnosis }}</td>
                <td>{{ anime.imagen }}</td>
                <td>
                    <span [routerLink]="['/editar-anime/', anime._id]">
                        <button type="button" class="btn btn-warning btn-sm">Editar</button>
                    </span>
                </td>
                <td>
                    <span (click)="eliminarAnime(anime,i)">
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>


</div>
